:root{
    --white: #F9F9FB;
    --cyan: #4C9FC1;
    --star:#FFC961;
  --highlights--color: #A1A7B0;
   }

*,
*::after,
* ::before{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: "manrope", sans-serif;
}

.blue-btn{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 32px;

  position: absolute;
  width: 165px;
  height: 48px;
  left: auto;
  top: auto;

  background: #4C9FC1;
  border-radius: 12px;
  /* border: none; */
}